.header-container {
    display: flex;
    align-items: center; /* Pour centrer verticalement */
    justify-content:center; /* Espace entre les éléments */
    padding: 0 20px; /* Ajouter un peu d'espacement autour */
    background-color:  #3f51b5; /* Couleur de fond (modifiable) */
    color: white; /* Couleur du texte (modifiable) */
    
}
.spacer {
    flex: 1; /* Espace qui pousse les boutons à droite */
}

.logo {
    flex: 0 0 auto; /* Le logo ne doit pas prendre de place supplémentaire */
}

.main-menu {
    display: flex;
    flex: 1; /* Prend tout l'espace disponible */
    justify-content: flex-start; /* Centrer le menu horizontalement */
    margin: 0 20px; /* Ajoute un peu d'espacement autour */
   
}

/* .user-actions {
    flex: 0 0 auto; /* Les actions utilisateur ne doivent pas prendre de place supplémentaire */
/*} */