<div>
    <header class="header-container">

        <!-- Element pour le logo -->
        <div class="logo">
            <!-- Logo ici -->
            <!-- <mad-home-banner /> -->
            
                <strong>
                    <h2> Chat With</h2>
                   
                </strong>
           
        </div>

        <!-- Elements pour le menu principal -->
        <div>
            <!-- <mad-home-menu /> -->
            <span>&nbsp;&nbsp; [ ]</span>
        </div>
    </header>
</div>
