
.message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .message-input input {
    flex-grow: 1; /* Prend tout l'espace restant dans le footer */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .message-input button {
    margin-left: 10px;
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
  }